.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


/* CUSTOM CSS */
.is-flex{ display: flex; }
.is-flex-dir-column{ display: flex; flex-direction: column; }

form{ width: 90vh; }
label:first-of-type{ margin-top: 0; }
label{ margin-top: 8px; }
input{ height: 3em; font-size: 16px; }
button{
  width: fit-content;
  background: transparent;
  padding: 1em;
  margin: 16px auto 0px;
  border-radius: 8px;
  border: 2px solid #202020;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
